{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": "./update-versions.sh ${nextRelease.version} && ./maven-build.sh"
    }],
    "@semantic-release/changelog",
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md", "pom.xml", "perun-oidc-server-webapp/pom.xml", "perun-oidc-server/pom.xml"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    ["@semantic-release/github", {
      "assets": [
        {"path": "perun-oidc-server-webapp/target/oidc.war"}
      ]
    }]
  ]
}
