<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div data-th-fragment="topbar(pageName)">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href=""><img data-th-src="${ config.logoImageUrl }" /> <th:block data-th-text="${config.topbarTitle}">Brand</th:block></a>
			<div class="nav-collapse collapse" data-th-if="${!#strings.isEmpty(pageName)}">
				<ul class="nav">
					<li data-th-if="${pageName == 'Home'}" class="active"><a href="" data-toggle="collapse" data-target=".nav-collapse">Home</a></li>
					<li data-th-unless="${pageName == 'Home'}"><a href="" data-toggle="collapse" data-target=".nav-collapse">Home</a></li>
					<li data-th-if="${pageName == 'About'}" class="active" data-toggle="collapse" data-target=".nav-collapse"><a href="">About</a></li>
					<li data-th-unless="${pageName == 'About'}"><a href="about" data-toggle="collapse" data-target=".nav-collapse">About</a></li>
					<li data-th-if="${pageName == 'Statistics'}" class="active" data-toggle="collapse" data-target=".nav-collapse"><a href="">Statistics</a></li>
					<li data-th-unless="${pageName == 'Statistics'}"><a href="stats" data-toggle="collapse" data-target=".nav-collapse">Statistics</a></li>
					<li data-th-if="${pageName == 'Contact'}" class="active" data-toggle="collapse" data-target=".nav-collapse"><a href="">Contact</a></li>
					<li data-th-unless="${pageName == 'Contact'}"><a href="contact" data-toggle="collapse" data-target=".nav-collapse">Contact</a></li>
				</ul>
				<ul class="nav hidden-desktop" data-sec-authorize="hasRole('ROLE_USER')" data-th-include="fragments/actionmenu::actionmenu"></ul>
				<ul class="nav pull-right">
					<li class="dropdown" data-sec-authorize="hasRole('ROLE_USER')">
						<a id="userButton" class="dropdown-toggle" data-toggle="dropdown" href=""><i class="icon-user icon-white"></i> <th:block data-th-text="${ userInfo.preferredUsername } ?: ${ userInfo.sub }">shortName</th:block> <span class="caret"></span></a>
						<ul class="dropdown-menu pull-right">
							<li><a href="manage/#user/profile" data-toggle="collapse" data-target=".nav-collapse" data-th-text="${ userInfo.name ?: userInfo.givenName + ' ' + userInfo.familyName}">longName</a></li>
							<li class="divider"></li>
							<li><a href="logout" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-remove"></i> Log out</a></li>
						</ul>
					</li>
                    <li sec:authorize="isAnonymous()">
                    	<a id="loginButton" href="login" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-lock icon-white"></i> Log in</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

</div>

</body>
</html>
