<!-- breadcrumbs -->

<script type="text/html" id="tmpl-breadcrumbs">
    <% if (active == false) { %>
    <li><a href="<%=href%>"><%=text%></a> <span class="divider">/</span></li>
    <% } else { %>
    <li class="active"><%=text%></li>
    <% } %>
</script>

<!-- list widget -->

<script type="text/html" id="tmpl-list-widget-child">
    <td><%=(item.length > 30) ? item.substr(0,27) + '...' : item %></td>
    <td><a class="btn btn-small btn-delete" href="#"><i class="icon-minus-sign"></i></a></td>
</script>

<script type="text/html" id="tmpl-list-widget">
    <thead>
    <tr>
        <th class="control-group">
            <input type="text" value="" placeholder="<%=(placeholder) ? placeholder : ''%>"></th>
        <th><a class="btn btn-small btn-add" href="#"><i class="icon-plus-sign"></i></a></th>
    </tr>
    </thead>
	<tbody>
	</tbody>
</script>


<!-- blacklist form -->
<script type="text/html" id="tmpl-blacklist-form">

    <form class="form-horizontal">
        <fieldset>
            <div class="well well-small">
				<button class="btn btn-small refresh-table"><i class="icon-refresh"></i> Refresh</button>
            </div>

            <div class="control-group" id="blacklist">
                <label class="control-label">Blacklisted URIs</label>
                <div class="controls">
                </div>
            </div>

            <div class="well well-small">
				<button class="btn btn-small refresh-table"><i class="icon-refresh"></i> Refresh</button>
            </div>

        </fieldset>
    </form>

</script>

