<script type="text/html" id="tmpl-client">
    <td>
        <%=clientId%>
        <blockquote><small><%=clientDescription%></small></blockquote>
    </td>

    <td>
        <%=applicationName%>
        <!--expandable future information-->
    </td>

    <td>
        <button class="btn btn-edit">edit</button>&nbsp;&nbsp;<button class="btn btn-danger btn-delete">delete</button>
    </td>

</script>

<script type="text/html" id="tmpl-client-table">
    <div class="well">
        <button class="btn btn-small btn-primary">New Client</button>
    </div>

    <table id="client-table" class="table">
        <thead>
        <tr>
            <th>Client ID</th>
            <th>Application Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="well">
        <button class="btn btn-small btn-primary">New Client</button>
    </div>
</script>


<script type="text/html" id="tmpl-client-form">

    <h1><%=(clientId == null ? 'New' : 'Edit')%> Client</h1>

    <form class="form-horizontal">
        <fieldset>
            <legend>Details</legend>
            <div class="control-group" id="applicationName">
                <label class="control-label">Application name</label>
                <div class="controls">
                    <input value="<%=applicationName%>" maxlength="100" type="text" class="" placeholder="Type something">
                    <p class="help-block">Supporting help text</p>
                </div>
            </div>

            <div class="control-group" id="clientId">
                <label class="control-label">Client ID</label>
                <div class="controls">
                    <input value="<%=clientId%>" maxlength="100" type="text" class="" placeholder="Type something">
                    <p class="help-block">Supporting help text</p>
                </div>
            </div>

            <div class="control-group" id="registeredRedirectUri">
                <label class="control-label">Redirect URI(s)</label>
                <div class="controls">
                    <textarea class="input-xlarge" placeholder="http://"
                              rows="3"><% for (var i in registeredRedirectUri) { %><%=registeredRedirectUri[i]+"\n"%><% } %></textarea>
                    <p class="help-block">You may enter multiple URIs separated by a new lines</p>
                </div>
            </div>

            <div class="control-group" id="clientDescription">
                <label class="control-label">Description</label>
                <div class="controls">
                    <textarea class="input-xlarge" placeholder="Type a description" maxlength="200"
                              rows="3"><%=clientDescription%></textarea>
                    <p class="help-block">Supporting help text</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Refresh Tokens</label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="allowRefresh" <%=(allowRefresh == true ? 'checked' : '')%>> Allow refresh tokens?
                    </label>
                </div>
            </div>

            <div class="control-group" id="scope">
                <label class="control-label">Scope</label>
                <div class="controls">
                    <textarea rows="3" class="xlarge" placeholder="openid"
                              id="textarea2" name="textarea2"><% for (var i in scope) { %><%=scope[i]+","%><% }%></textarea>
                    <p class="help-block">Please enter scopes separated by commas</p>
                </div>
            </div>

			<div class="control-group">
				<label class="control-label">Require Client Secret</label>
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" id="requireClientSecret" <%=(requireClientSecret == true ? 'checked' : '')%>> Require client secret?
					</label>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Generate Client Secret</label>
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" id="generateClientSecret" <%=(generateClientSecret == true ? 'checked' : '')%>> Generate a new client secret?
					</label>
					<p class="help-block">New secret will be generated when you click 'Save'</p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Show Client Secret</label>
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" id="displayClientSecret" <%=(displayClientSecret == true ? 'checked' : '')%>> Display client secret here:
					</label>
				</div>
			</div>

            <div class="control-group" id="clientSecret">
                <label class="control-label">Client Secret</label>
                <div class="controls">
                    <input value="<%=clientSecret%>" maxlength="100" type="text" class=""
                           placeholder="Type a secret">
                    <p class="help-block">If you leave this blank a client secret will be generated for you automatically.</p>
                </div>
            </div>

            <div class="control-group" id="authorizedGrantTypes">
                <label class="control-label">Authorized Grant Types</label>

                <div class="controls">

                    <label class="checkbox">
                        <input id="authorizedGrantTypes-authorization_code" type="checkbox"
                        <%=($.inArray("authorization_code", authorizedGrantTypes) > -1 ? 'checked' : '')%>>
                        authorization code
                    </label>
                    <label class="checkbox">
                        <input id="authorizedGrantTypes-client_credentials" type="checkbox"
                        <%=($.inArray("client_credentials", authorizedGrantTypes) > -1 ? 'checked' : '')%>> client
                        credentials
                    </label>
                    <label class="checkbox">
                        <input id="authorizedGrantTypes-password" type="checkbox" <%=($.inArray("password",
                        authorizedGrantTypes) > -1 ? 'checked' : '')%>> password
                    </label>
                    <label class="checkbox">
                        <input id="authorizedGrantTypes-implicit" type="checkbox" <%=($.inArray("implicit",
                        authorizedGrantTypes) > -1 ? 'checked' : '')%>> implicit
                    </label>
                </div>
            </div>

            <div class="control-group" id="accessTokenValiditySeconds">
                <label class="control-label">Access Token
                    Timeout</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="" value="<%=accessTokenValiditySeconds%>" id="access-token-timeout-seconds" size="16"><span
                            class="add-on">seconds</span>
                    </div>
                    <p class="help-block">Enter this time in seconds</p>
                </div>
            </div>

            <div class="control-group" id="refreshTokenValiditySeconds">
                <label class="control-label">Refresh Token
                    Timeout</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="" value="<%=refreshTokenValiditySeconds%>" id="refresh-token-timeout-seconds" size="16"><span
                            class="add-on">seconds</span>
                    </div>
                    <p class="help-block">Enter this time in seconds</p>
                </div>
            </div>

            <div class="control-group" id="idTokenValiditySeconds">
                <label class="control-label">ID Token
                    Timeout</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="" value="<%=idTokenValiditySeconds%>" id="id-token-timeout-seconds" size="16"><span
                            class="add-on">seconds</span>
                    </div>
                    <p class="help-block">Enter this time in seconds</p>
                </div>
            </div>

        </fieldset>
    </form>




    <div class="well">
        <button class="btn btn-small btn-primary">Submit</button>
    </div>

</script>