<script type="text/html" id="tmpl-client">

    <td>
        <%=clientName%>
    </td>
    <td>
        <ul>
            <% for (var i in registeredRedirectUri) { %>
            <li>
                <%=registeredRedirectUri[i]%>
            </li>
            <% } %>
        </ul>
    </td>
    <td>
        <ul>
            <% for (var i in authorizedGrantTypes) { %>
            <li>
                <%=authorizedGrantTypes[i]%>
            </li>
            <% } %>
        </ul>
    </td>
    <td>
        <ul>
            <% for (var i in scope) { %>
            <li>
                <%=scope[i]%>
            </li>
            <% } %>
        </ul>
    </td>

    <td>
        <%=clientDescription%>
    </td>
    <td><input type="checkbox"
        <%=(allowRefresh == 1 ? 'checked' : '')%>
        value="" id="" name="" disabled>
    </td>
    <td>
        <button class="btn btn-edit">edit</button>
    </td>
    <td>
        <button class="btn btn-danger btn-delete">delete</button>
    </td>

</script>

<script type="text/html" id="tmpl-client-table">
    <div class="well">
        <button class="btn btn-small btn-primary">New Client</button>
    </div>

    <table id="client-table" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Redirect URI(s)</th>
            <th>Grant Types</th>
            <th>Scope</th>
            <th>Description</th>
            <th>Refresh Tokens</th>
            <th class="span1"></th>
            <th class="span1"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="well">
        <button class="btn btn-small btn-primary">New Client</button>
    </div>
</script>


<script type="text/html" id="tmpl-client-form">

    <h1><%=(clientId == null ? 'New' : 'Edit')%> Client</h1>


    <div class="">
        <form>
            <fieldset>
                <legend>Details</legend>

                <div class="well">

                    <div class="row-fluid">
                        <div class="span6">
                            <span class="control-group" id="clientName">
                            <label>Client name</label>
                            <input value="<%=clientName%>" maxlength="100" type="text" class="" placeholder="Type something"> <span class="help-inline"></span>
                            </span>
                            <span class="control-group" id="registeredRedirectUri">
                            <label>Redirect URI(s)</label>
                                 <textarea class="input-xlarge" placeholder="http://"
                                           rows="3"><% for (var i in registeredRedirectUri) { %><%=registeredRedirectUri[i]+"\n"%><% } %></textarea> <span class="help-inline">You may enter multiple URLs separated by a new lines</span>
                            </span>
                        </div>
                        <div class="span6">
                            <span class="control-group" id="clientDescription">
                            <label>Description</label>
                            <textarea class="input-xlarge" placeholder="Type a description" maxlength="200"
                                      rows="3"><%=clientDescription%></textarea> <span class="help-inline"></span>
                            </span>

                            <span class="control-group" id="clientSecret">
                            <label>Client Secret</label>
                            <input value="<%=clientSecret%>" maxlength="100" type="text" class=""
                                   placeholder="Type a secret"> <span class="help-inline">If you leave this blank a client secret will be generated for you automatically.</span>
                            </span>
                        </div>
                    </div>

                    <hr>

                    <div class="">
                        <p class="help-block">Refresh tokens allow clients to request another authorization
                            token after it
                            expires.</p>
                        <label class="checkbox">
                            <input type="checkbox" id="allowRefresh" <%=(allowRefresh == true ? 'checked' : '')%>> Allow refresh tokens?
                        </label>
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Additional Options</legend>

                <div class="row-fluid">

                    <div class="span4 control-group">

                        <label class="control-label">Grant Types</label>

                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" name="grant-type-checkbox-list1" value="option1">
                                Option one
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="grant-type-checkbox-list2" value="option2">
                                Option two
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="grant-type-checkbox-list3" value="option3">
                                Option three
                            </label>

                            <p class="help-block"><strong>Note:</strong> Labels surround all the options for
                                much larger click areas and a more usable form.</p>
                        </div>

                    </div>

                    <div class="span4 control-group">

                        <label class="control-label">Auth Types</label>

                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" name="auth-type-checkbox-list1" value="option1">
                                Option one
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="auth-type-checkbox-list2" value="option2">
                                Option two
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="auth-type-checkbox-list3" value="option3">
                                Option three
                            </label>

                            <p class="help-block"><strong>Note:</strong> Labels surround all the options for
                                much larger click areas and a more usable form.</p>
                        </div>

                    </div>

                    <div class="span4">
                        <span class="control-group" id="accessTokenTimeout">
                        <label class="control-label" for="access-token-timeout-seconds" style="">Access Token
                            Timeout</label>

                        <div class="controls form-horizontal" style="">
                            <div class="input-append">
                                <input type="text" class="" value="<%=accessTokenTimeout%>" id="access-token-timeout-seconds" size="16"><span
                                    class="add-on">seconds</span>
                            </div>
                            <span class="help-inline">Here's more help text</span>
                        </div>
                        </span>
                        <span class="control-group" id="refreshTokenTimeout">
                        <label class="control-label" for="refresh-token-timeout-seconds" style="">Refresh Token
                            Timeout</label>

                        <div class="controls form-horizontal" style="">
                            <div class="input-append">
                                <input type="text" class="" value="<%=refreshTokenTimeout%>" id="refresh-token-timeout-seconds" size="16"><span
                                    class="add-on">seconds</span>
                            </div>
                            <span class="help-inline">Here's more help text</span>
                        </div>
                        </span>
                    </div>


                    <div id="scope" class="span12 control-group">
                        <label for="textarea2">Scope</label>

                        <div class="input">
                            <textarea rows="3" class="xlarge span10" placeholder="openid"
                                      id="textarea2" name="textarea2"><% for (var i in scope) { %><%=scope[i]+","%><% } %></textarea>
              <span class="help-block">
                Please enter scopes separated by commas
              </span>
                        </div>
                    </div>


                </div>
            </fieldset>
        </form>
    </div>

</script>