<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2017 The MITRE Corporation
      and the MIT Internet Trust Consortium
   
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
      http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="org.mitre.openid">
		<level value="info" />
	</logger>
	<logger name="org.mitre.oauth2">
		<level value="info" />
	</logger>
	<logger name="org.mitre.discovery">
		<level value="info" />
	</logger>
	<logger name="org.mitre.jose">
		<level value="info" />
	</logger>
	<logger name="org.mitre.jwt">
		<level value="info" />
	</logger>
	<logger name="org.mitre.util">
		<level value="info" />
	</logger>
	<logger name="org.mitre.uma">
		<level value="info" />
	</logger>
	<logger name="org.mitre.data">
		<level value="info" />
	</logger>
					
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<logger name="org.springframework.security">
		<level value="warn" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
