/* Stylesheet for the MITREid Connect server web application */

html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

.sidebar-nav {
	padding: 9px 0;
}

h1,label {
	text-shadow: 1px 1px 1px #FFFFFF;
}

.navbar .brand {
	max-height: 20px;
}

.navbar .brand img {
	max-height: 24px;
	width: auto;
	position: relative;
	top: -2px;
	left: -6px;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,#footer {
	min-height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

.main {
	padding-top: 60px;
}

.credit {
	margin: 20px 0;
}

.inputError {
	border: 1px solid #b94a48 !important;
}