/* Stylesheet for the MITREid Connect server web application */

html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

.sidebar-nav {
	padding: 9px 0;
}

h1,label {
	text-shadow: 1px 1px 1px #FFFFFF;
}

.navbar .brand {
	max-height: 20px;
}

.navbar .brand img {
	max-height: 24px;
	width: auto;
	position: relative;
	top: -2px;
	left: -6px;
}

/* login button */

.navbar #userButton,
.navbar #loginButton {
    color: #ffffff;
    font-size: 0.9em;
}

.navbar #userButton {
    background-color: #1b1b1b;
}
.navbar #loginButton {
	background-color: #1bb15c;
}

.navbar #userButton:focus, .navbar #userButton:hover,
.navbar #loginButton:focus, .navbar #loginButton:hover {
    color: #ffffff;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.navbar #userButton:focus, .navbar #userButton:hover {
	background-color: #000;
}
.navbar #loginButton:focus, .navbar #loginButton:hover {
	background-color: #1bb15c;
}

.navbar #userButton:active,
.navbar #loginButton:active {
    color: #ffffff;
}

.navbar #userButton:active {
	background-color: #000;
}

.navbar #loginButton:active {
	background-color: #1bb15c;
}

.navbar #userButton .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,#footer {
	min-height: 60px;
}

#footer {
	background-color: #1b1b1b;
	margin-top: 6em;
}

.main {
	padding-top: 90px;
}

.credit {
	margin: 20px 0;
}

.inputError {
	border: 1px solid #b94a48 !important;
}

/* Fix for wonky forms */

.input-append.input-block-level,
.input-prepend.input-block-level {
  display: table;
}

.input-append.input-block-level .add-on,
.input-prepend.input-block-level .add-on {
  display: table-cell;
  width: 1%; /* remove this if you want default bootstrap button width */
}

.input-append.input-block-level > input,
.input-prepend.input-block-level > input {
  box-sizing: border-box; /* use bootstrap mixin or include vendor variants */
  -moz-box-sizing: border-box; /* for Firefox */
  min-height: inherit;
  width: 100%;
}

/* This block applies to Chrome only */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .input-append.input-block-level > input,
  .input-prepend.input-block-level > input {
    display: table; /* table-cell is not working well in Chrome for small widths */
  }
}

.input-append.input-block-level > input {
  border-right: 0;
}

.input-prepend.input-block-level > input {
  border-left: 0;
}

