/* Stylesheet for the MITREid Connect server web application */

html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

.sidebar-nav {
	padding: 9px 0;
}

h1,label {
	text-shadow: 1px 1px 1px #FFFFFF;
}

.navbar .brand {
	max-height: 20px;
}

.navbar .brand img {
	max-height: 24px;
	width: auto;
	position: relative;
	top: -2px;
	left: -6px;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,#footer {
	min-height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

.main {
	padding-top: 60px;
}

.credit {
	margin: 20px 0;
}

.inputError {
	border: 1px solid #b94a48 !important;
}

/* Fix for wonky forms */

.input-append.input-block-level,
.input-prepend.input-block-level {
  display: table;
}

.input-append.input-block-level .add-on,
.input-prepend.input-block-level .add-on {
  display: table-cell;
  width: 1%; /* remove this if you want default bootstrap button width */
}

.input-append.input-block-level > input,
.input-prepend.input-block-level > input {
  box-sizing: border-box; /* use bootstrap mixin or include vendor variants */
  -moz-box-sizing: border-box; /* for Firefox */
  display: table; /* table-cell is not working well in Chrome for small widths */
  min-height: inherit;
  width: 100%;
}

.input-append.input-block-level > input {
  border-right: 0;
}

.input-prepend.input-block-level > input {
  border-left: 0;
}

