/* Stylesheet for the MITREid Connect server web application */

html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

.sidebar-nav {
	padding: 9px 0;
}

h1,label {
	text-shadow: 1px 1px 1px #FFFFFF;
}

.navbar .brand {
	max-height: 20px;
}

.navbar .brand img {
	max-height: 24px;
	width: auto;
	position: relative;
	top: -2px;
	left: -6px;
}

/* login button */

.navbar #userButton,
.navbar #loginButton {
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 8px rgba(255, 255, 255, 0.125) inset;
    font-size: 0.9em;
}

.navbar #userButton {
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
}
.navbar #loginButton {
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
}

.navbar #userButton:focus, .navbar #userButton:hover,
.navbar #loginButton:focus, .navbar #loginButton:hover {
    color: #ffffff;
    background-position: 0 -15px;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.navbar #userButton:focus, .navbar #userButton:hover {
	background-color: #0044cc;
}
.navbar #loginButton:focus, .navbar #loginButton:hover {
	background-color: #51a351;
}

.navbar #userButton:active,
.navbar #loginButton:active {
    color: #ffffff;
	background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}

.navbar #userButton:active {
	background-color: #0044cc;
}

.navbar #loginButton:active {
	background-color: #51a351;
}

.navbar #userButton .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,#footer {
	min-height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

.main {
	padding-top: 60px;
}

.credit {
	margin: 20px 0;
}

.inputError {
	border: 1px solid #b94a48 !important;
}

/* Fix for wonky forms */

.input-append.input-block-level,
.input-prepend.input-block-level {
  display: table;
}

.input-append.input-block-level .add-on,
.input-prepend.input-block-level .add-on {
  display: table-cell;
  width: 1%; /* remove this if you want default bootstrap button width */
}

.input-append.input-block-level > input,
.input-prepend.input-block-level > input {
  box-sizing: border-box; /* use bootstrap mixin or include vendor variants */
  -moz-box-sizing: border-box; /* for Firefox */
  min-height: inherit;
  width: 100%;
}

/* This block applies to Chrome only */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .input-append.input-block-level > input,
  .input-prepend.input-block-level > input {
    display: table; /* table-cell is not working well in Chrome for small widths */
  }
}

.input-append.input-block-level > input {
  border-right: 0;
}

.input-prepend.input-block-level > input {
  border-left: 0;
}

.label-matched, .badge-matched {
	background-color: #D1D1FF;
}

/* get rid of extraneous outline on tabs */

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	outline: 0;
}

.control-group .controls div {
    display: block;
}

.control-group .controls div {
    padding-top: 5px;
    margin-bottom: 5px;
}

.control-group .controls div label.checkbox,
.control-group .controls div label.radio {
  display: inline-block;
  padding: 0 5px 0 5px;
  line-height: 20px;
}

.control-group .controls div input[type=checkbox],
.control-group .controls div input[type=radio] {
  line-height: 20px;
  vertical-align: middle;
  margin: 0;
}

/* User profile claims alignment */
.user-profile dd, .user-profile dt {
    height: 20px;
}

/* Modal and sheet fight for the same z-index otherwise */
.modal-backdrop {
  z-index: 2040;
}
.modal {
  z-index: 2050;
}
