.mt-0 {
    margin-top: 0 !important;
}
.mr-half {
    margin-right: .5em !important;
}
.checkbox-wrapper {
    float: left;
}
.h4 {
    clear: inherit !important;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: normal;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.mt-0 {
    margin-top: 0 !important;
}
.oh {
    overflow: hidden;
}
.mt-2 {
    margin-top: 2% !important;
}
.cw {
    color: #FAFAFA !important;
}
.hidden {
    display: none;
}
