<!DOCTYPE html>
<html>
<head data-th-replace="fragments/header :: head('Approve Access')">
</head>
<body>
<span data-th-replace="fragments/topbar :: topbar(pageName='Approve')"></span>
<div class="container main">
	<div class="alert-message error" data-th-if="${session.SPRING_SECURITY_LAST_EXCEPTION != null and not (session.SPRING_SECURITY_LAST_EXCEPTION instanceof T(org.springframework.security.oauth2.common.exceptions.UnapprovedClientAuthenticationException)) }">
		<a href="#" class="close">&times;</a>

		<p data-th-text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"><strong>Access could not be granted.</strong> 
		</p>
	</div>
	<!-- ${session.removeAttribute('SPRING_SECURITY_LAST_EXCEPTION') -->

	<div class="well" style="text-align: center">
		<h1 data-th-text="|Approval Required for ${client.clientName ?: client.clientId}|"> Approval Required for XXX
		</h1>

		<form name="confirmationForm"
			data-th-action="@{/authorize}" method="post">

			<div class="row">
				<div class="span5 offset1 well-small" style="text-align: left">

                  <th-block data-th-if="${ client.dynamicallyRegistered }">
                    <th-block data-th-if="${ gras }">
                      <!-- client is "generally recognized as safe, display a more muted block -->
                      <div><p class="alert alert-info"><i class="icon-globe"></i> This client was dynamically registered <span id="registrationTime"></span>.</p></div>
                    </th-block>
                    <th-block data-th-unless="${ gras }">
                      <!-- client is dynamically registered -->
                      <div data-th-class="alert alert-block ${ count eq 0 ? 'alert-error' : 'alert-warn' }">
                          <h4>
                              <i class="icon-globe"></i> Caution:
                          </h4>
                          This software was dynamically registered <span id="registrationTime" class="label"></span> and it has been approved
                          <span class="label" data-th-inline="text"> ${ count } 5 time${ count == 1 ? '' : 's' } previously.</span>
                      </div>
                        
                    </th-block>

					<th-block data-th-if="${ #strings.isEmpty(client.logoUri) }">
						<ul class="thumbnails">
							<li class="span5">
								<a class="thumbnail" data-toggle="modal" data-target="#logoModal"><img data-th-src="${client.logoUri}" /></a>
							</li>
						</ul>
						<!-- Modal -->
						<div id="logoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="logoModalLabel" aria-hidden="true">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h3 id="logoModalLabel">
								    <em data-th-text="${ client.clientName ?: client.clientId}"></em>
								</h3>
							</div>
							<div class="modal-body">
								<img data-th-src="${ client.logoUri }" />
								<a data-th-if="${ #strings.isEmpty(client.clientUri) }" data-th-href="${ client.clientUri }" data-th-text="${ client.clientUri }"></a>
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
							</div>
						</div>
					</th-block>
						<div class="muted moreInformationContainer" data-th-if="${ not(#strings.isEmpty(client.clientDescription) and #strings.isEmpty(client.clientUri) and #strings.isEmpty(client.policyUri) and #strings.isEmpty(client.tosUri) and #strings.isEmpty(contacts)) }">
							<th-block data-th-text="${client.clientDescription}" />
							<th-block data-th-if="${ not( #strings.isEmpty(client.clientUri) and #strings.isEmpty(client.policyUri) and #strings.isEmpty(client.tosUri) and #strings.isEmpty(contacts) ) }">
								<div id="toggleMoreInformation" style="cursor: pointer;">
									<small><i class="icon-chevron-right"></i> more information</small>
								</div>
								<div id="moreInformation" class="hide">
									<ul>
										<li data-th-if="${!#strings.isEmpty(client.clientUri)}">Home page: <a data-th-href="${ client.clientUri }" data-th-text="${ client.clientUri }"></a></li>
										<li data-th-if="${!#strings.isEmpty(client.policyUri)}">Policy: <a data-th-href="${ client.policyUri }" data-th-text="${ client.policyUri }"></a></li>
										<li data-th-if="${!#strings.isEmpty(client.tosUri)}">Terms of Service: <a data-th-href="${ client.tosUri }" data-th-text="${ client.tosUri }"></a></li>
										<li data-th-if="${!#strings.isEmpty(contacts))}" data-th-text="|Administrative Contacts: ${ contacts }|"></li>
									</ul>
								</div>
							</th-block>
						</div>
					<div>
						<div class="alert alert-block alert-error" data-th-if="${#sets.isEmpty(client.redirectUris)}">
							<h4>
								<i class="icon-info-sign"></i> Warning:
							</h4>
							This client does not have any redirect URIs registered and someone could be using a 
							malicious URI here. You will be redirected to the following page if you click Approve:
							<code data-th-text="${redirect_uri}"></code>
						</div>
						<th-block data-th-unless="${#sets.isEmpty(client.redirectUris)}">
						You will be redirected to the following page
						if you click Approve: <code data-th-text="${redirect_uri}"></code>
						</th-block>
					</div>

					<div class="alert alert-success" data-th-if="${ client.subjectType == 'PAIRWISE' }">
						This client uses a <b>pairwise</b> identifier, which makes it more difficult to correlate your identity between sites.
					</div>
					</th-block>
				</div>
				<div class="span4">
					<fieldset style="text-align: left" class="well">
						<legend style="margin-bottom: 0;">Access to:</legend>

						<div class="alert alert-block alert-error" data-th-if="${ #strings.isEmpty(client.scope) }">
							<h4>
								<i class="icon-info-sign"></i> Warning:
							</h4>
							This client does not have any scopes registered and is therefore allowed to
							request <em>any</em> scopes available on the system. Proceed with caution.
						</div>


						<label data-th-each="scope : ${ scopes }" data-th-for="|scope_${scope.value}|" class="checkbox"> 
							<input type="checkbox" data-th-name="|scope_${scope.value}|" data-th-id="|scope_${scope.value}|" data-th-value="${scope.value}" checked="checked"/> 
							<i data-th-class="|icon-${scope.icon}|" data-th-if="${!#strings.isEmpty(scope.icon)}"></i>
							<th-block data-th-text="${scope.description ?: scope.value}"/>
							
							<span class="claim-tooltip" data-toggle="popover"
								data-html="true"
								data-placement="right"
								data-trigger="hover"
								data-title="These values will be sent:"
								data-th-attr="data-content=|&lt;div style=&quot;text-align: left;&quot;>&lt;ul>${#strings.listJoin(claims[scope.value].!['&lt;li>&lt;b>'+ key +'&lt;/b>: ' + value + '&lt;/li>' ], '')}&lt;/ul>&lt;/div>|"
								data-th-if="${not #lists.isEmpty(claims[scope.value])}">
									<i class="icon-question-sign"></i>
									
								</span>
							
							<input data-th-name="|scopeparam_${scope.value}|" type="text" data-th-value="${ scope.structuredValue }" data-th-placeholder="${ scope.structuredParamDescription }" data-th-if="${ scope.structured }"/>
							
						</label>

					</fieldset>

					<fieldset style="text-align: left" class="well">
						<legend style="margin-bottom: 0;">Remember this decision:</legend>
						<label for="remember-forever" class="radio"> 
						<input type="radio" name="remember" id="remember-forever" value="until-revoked" checked="checked"/> 
							remember this decision until I revoke it
						</label> 
						<label for="remember-hour" class="radio"> 
						<input type="radio" name="remember" id="remember-hour" value="one-hour"/>
							remember this decision for one hour
						</label> 
						<label for="remember-not" class="radio"> 
						<input type="radio" name="remember" id="remember-not" value="none"/>
							prompt me again next time
						</label>
					</fieldset>
				</div>

			</div>

			<div class="row">
				<h3 data-th-text="|Do you authorize &quot;${client.clientName ?: client.Name }&quot;?|">
						Do you authorize "XXX"?
				</h3>
				<input id="user_oauth_approval" name="user_oauth_approval" value="true" type="hidden" /> 
				<input name="csrf" data-th-value="${ csrf }" type="hidden" />
				<input name="authorize" value="Authorize" type="submit"
				onclick="$('#user_oauth_approval').attr('value',true)" class="btn btn-success btn-large" /> 
				&nbsp; 
				<input name="deny" value="Deny" type="submit" onclick="$('#user_oauth_approval').attr('value',false)"
				class="btn btn-secondary btn-large" />
			</div>

		</form>

	</div>
</div>
<script type="text/javascript" data-th-inline="javascript">
/* <![CDATA[ */

$(document).ready(function() {
		$('.claim-tooltip').popover();
		
		$(document).on('click', '#toggleMoreInformation', function(event) {
			event.preventDefault();
			if ($('#moreInformation').is(':visible')) {
				// hide it
				$('.moreInformationContainer', this.el).removeClass('alert').removeClass('alert-info').addClass('muted');
				$('#moreInformation').hide('fast');
				$('#toggleMoreInformation i').attr('class', 'icon-chevron-right');
			} else {
				// show it
				$('.moreInformationContainer', this.el).addClass('alert').addClass('alert-info').removeClass('muted');
				$('#moreInformation').show('fast');
				$('#toggleMoreInformation i').attr('class', 'icon-chevron-down');
			}
		});
		
		var creationDate = [[${ client.createdAt }]];
		var displayCreationDate = "Unknown";
		var hoverCreationDate = "";
		if (creationDate == null || !moment(creationDate).isValid()) {
			displayCreationDate = "Unknown";
			hoverCreationDate = "";
		} else {
			creationDate = moment(creationDate);
			if (moment().diff(creationDate, 'months') < 6) {
				displayCreationDate = creationDate.fromNow();
			} else {
				displayCreationDate = "on " + creationDate.format("MMMM Do, YYYY");
			}
			hoverCreationDate = creationDate.format("MMMM Do, YYYY [at] h:mmA")
		}
		
		$('#registrationTime').html(displayCreationDate);
		$('#registrationTime').attr('title', hoverCreationDate);
});
/* ]]> */</script>
<span data-th-replace="fragments/footer :: footer"></span>
</body>
</html>
