<!DOCTYPE html>
<html>
<head data-th-replace="fragments/header :: head(welcome)">
</head>
<body>
<span data-th-replace="fragments/topbar :: topbar(pageName='Home')"></span>
<div class="container-fluid main">
	<div class="row-fluid">
		<span data-th-replace="fragments/sidebar :: sidebar"></span>
		<div class="span10">
			<div class="hero-unit">
				<span data-th-replace="fragments/landingPageWelcome :: landingPageWelcome"></span>
			</div>
			<!-- Example row of columns -->
			<div class="row-fluid">
				<div class="span6">
					<span data-th-replace="fragments/landingPageAbout :: landingPageAbout"></span>
				</div>
				<div class="span6">
					<span data-th-replace="fragments/landingPageContact :: landingPageContact"></span>
				</div>

			</div>
			<hr/>
			<!-- Example row of columns -->
			<div class="row-fluid">
				<div class="span12">
					<span data-th-replace="fragments/landingPageStats :: landingPageStats"></span>
				</div>
			</div>

		</div>
	</div>
</div>
<span data-th-replace="fragments/footer :: footer"></span>
</body>
</html>