<!DOCTYPE html>
<html>
<head data-th-replace="fragments/header :: head('Statistics')">
</head>
<body>
<span data-th-replace="fragments/topbar :: topbar(pageName='Statistics')"></span>
<div class="container-fluid main">
    <div class="row-fluid">
        <th-block data-th-replace="fragments/sidebar :: sidebar"/>
        <div class="span10">
            <div class="hero-unit">
				<th-block data-th-replace="fragments/statsContent :: statsContent"/>
            </div>
        </div>
    </div>
</div>
<th-block data-th-replace="fragments/footer :: footer"/>
</body>
</html>